.overview {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-md;

    .spent,
    .limit {
        @include font-header();
        label {
            color: $font-color-grey;
            font-size: $font-size-md + 2;
        }
        div {
            color: $font-color-grey;
            font-size: $font-size-lg;
            font-weight: bold;
        }
    }
}
button {
    @include button();
}
