a {
    &:first-child {
        margin-top: 0;
    }
    margin-top: $spacing-sm + 6;
    @include font-header();
    color: $primary;
    font-size: $font-size-md + 2;
    text-decoration: none;
}

.content {
    display: none;

    &.active {
        display: block;
        padding: $spacing-md 0 0;
        box-shadow: unset;
        @include font-header();
    }

    .link-icon {
        content: url('../assets/images/link-icon.svg');
    }
}

.seperator {
    margin-top: $spacing-sm + 6;
}
