.transaction {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-md;

    .left {
        @include font-header();
        .name {
            font-size: $font-size-md + 2;
            font-weight: 600;
            color: $font-color-grey;
        }
    }

    .right {
        .amount {
            display: flex;
            .fa-rupee-sign {
                font-size: $font-size-md - 2;
                align-self: center;
                margin-right: $spacing-sm / 2;
            }
        }
    }

    &.bill {
        height: $spacing-bg;
        background-color: $light;

        .left {
            line-height: 3;
            display: flex;
            padding: $spacing-sm/2;
            &:before {
                content: url('../assets/images/transaction-icon-bill.svg');
            }
            .name {
                color: $font-color-primary;
            }
            .time {
                display: none;
            }
        }
        .right {
            display: none;
        }
    }

    &.paid {
        .left {
            &:before {
                content: url('../assets/images/transaction-icon-tick.svg');
                position: absolute;
                // left: $spacing-lg;
            }
            .name,
            .time {
                color: $font-color-primary;
                margin-left: $spacing-bg + 2;
            }
        }
        .right {
            color: $font-color-primary;
        }
    }
}

.see-all {
    color: $font-color-primary;
    margin-top: $spacing-sm;
}
