header {
    background-color: $background;
    // position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0 $spacing-md;
    display: flex;
    flex-direction: column;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;

    .simpl {
        display: flex;
        justify-content: space-between;
        padding: $spacing-md 0;
        .logo {
            content: url('../assets/images/logo.svg');
        }

        nav {
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                text-transform: uppercase;
                @include font-header();
                color: $font-color-light;

                &.download-app {
                    margin-right: $spacing-md;
                }
            }
        }
    }

    .welcome {
        margin-bottom: $spacing-sm;
        .message {
            @include font-header();
            font-weight: 600;
            font-size: $font-size-lg;
            color: $font-color-dark;
            margin-bottom: $spacing-sm/2;
        }
        .last-transact {
            @include font-header();
            font-size: $font-size-md;
            line-height: 1.25;
        }
    }

    .tabs {
        nav {
            display: flex;
            align-items: center;
            a {
                @include upper-case();
                text-decoration: none;
                padding: ($spacing-sm + 2) 0;
                margin-right: $spacing-bg;

                @media (max-width: 600px) {
                    margin-right: $spacing-lg + 4;
                }

                &.active {
                    @include font-header();
                    font-weight: 600;
                    color: $font-color-grey;
                    border-bottom: 2px solid $font-color-grey;
                }

                &#transactions {
                    @media (max-width: 600px) {
                        margin-right: 0;
                    }
                }

                &#merchants,
                &#help {
                    @media (max-width: 600px) {
                        display: none;
                    }
                }
            }
        }
    }
}

#container {
    // height: 100%;
    background-color: $light;
    padding: 0 $spacing-md;
}

footer {
    background-color: $light-grey;

    @include font-header();

    .footer-container {
        padding: $spacing-bg 0;
        max-width: 1070px;
        margin-left: auto;
        margin-right: auto;
        .logo {
            content: url('../assets/images/footer-logo.svg');
            margin-bottom: $spacing-md;
        }
        .mission {
            margin-bottom: $spacing-md;
        }
    }
}
