<div class="card expenditure">
    <label class="header">Expenditure</label>
    <div class="content">
        <div class="overview">
            <div class="spent">
                <label>Total Spent</label>
                <div class="total-spent">
                    <i class="fas fa-rupee-sign"></i>${data.expenditure.spent}
                </div>
            </div>
            <div class="limit">
                <label>Spending Limit</label>
                <div class="total-spent">
                    <i class="fas fa-rupee-sign"></i>${data.expenditure.limit}
                </div>
            </div>
        </div>
        <div id="progressbar">
            <div></div>
        </div>
        <button>Pay Now</button>
    </div>
</div>
